#main-title{
background-image: url('image/stein.jpg');
color: crimson;
text-transform: capitalize;
font-family: cursive;
}
h2 {
color: aqua;
font-family: sans-serif;
text-transform: uppercase;
}
p {
color: #ff00ff;
font-family: ;
font-style: italic;
}
